.create{
    background-color: white;
    padding: 20px;
    border: 2px solid black;
}
.create #content{
    width: 75%;
    margin-bottom: 20px;
}

select{
    margin-bottom: 20px
}

.tag-list, .tag-list-el {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag-list{
    margin-bottom: 20px;
}

.tag-list-el{
    margin-right: 10px;
}

.add-tag-button, .tag-cancel {
    background-color: white;
    border: 2px solid black;
}

.tag-cancel {
    margin-right: 5px !important;
}

.add-tag-button:hover, .tag-cancel:hover {
    background-color: black;
    color:white;
    cursor: pointer;
}