.fandom-comp .section,
.fandom-comp .episode {
  border: solid 2px black;
  border-bottom: none;
  padding: 5px;
}

.hidden {
    display: none;
}
#last{
    border: solid 2px black;
}

.fandom-comp, .review-comp{
    background-color: grey;
}

.fandom-comp .section, .fandom-comp .episode{
border:solid 2px black;
/* border-bottom: none; */
padding: 5px;
}

.personal, .fandom-view{
    margin-top: 20px;
    margin-bottom: 20px;
}
.create button, .fandom button, .fandom-comp button{
    display: block;
    margin: auto;
}

.episode{
    text-decoration: none;
    color: black;
    display: block;
}

.full-page-link{
    text-decoration: none;
}

.write-review-season-link{
    text-decoration: none;
    color: black;
    width: 100%;
}

/* .write-review-season-button{
    padding: 0%;
} */


.disabled-link{
    cursor: default;
}
 