.fandom-comp .section,
.fandom-comp .episode {
  border: solid 2px black;
  border-bottom: none;
  padding: 5px;
}

.hidden {
    display: none;
}
#last{
    border: solid 2px black;
}

.fandom-comp, .review-comp{
    margin-bottom: 10px;
}

.fandom-comp button{
margin-bottom: 10px;
}

.fandom-comp:hover, .review-comp:hover {
    box-shadow: 10px 10px 8px #888888;
    cursor: pointer;
}

.fandom-comp .section, .fandom-comp .episode{
border:solid 2px black;
/* border-bottom: none; */
padding: 5px;
}

.fandom-comp .section {
    /* background-color: #FFC7C7; */
}

.personal, .fandom-view{
    margin-top: 20px;
    margin-bottom: 20px;
}
.create button, .fandom button{
    display: block;
    margin: auto;
}

.episode{
    text-decoration: none;
    color: black;
    display: block;
    background-color: #e0e8e9;
    margin: 0px 15%;
}

.full-page-link{
    text-decoration: none;
}

.write-review-season-link{
    text-decoration: none;
    color: black;
    width: 100%;
}

.write-review-button, .add-subs-link, .delete-review-button, .edit-review-link,
.create-fandom-button, .create-installments-link, .submit-installments-button, 
.submit-fandom-button, .submit-sections-button, .login-link, .login-button, .create-account-link, 
.landing-page-link, .submit-review-button, .submit-account-button, .edit-section-button, .edit-installment-button, 
.edit-personal-link, .go-back {
    color: black;
    border: 2px solid black;
    text-decoration: none;
    font-size: 14px;
    height: 19px;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    border-radius: 20px;
    background-color: white;

}
 
.login-button, .submit-review-button, .submit-account-button, .submit-sections-button, .submit-installments-button, .edit-section-button, .edit-installment-button, .delete-review-button {
    padding: 10px 25px 25px 25px;
    border-radius: 40px;
}

.create-fandom-button, .create-installments-link, .login-link, .create-account-link, 
.landing-page-link, .edit-personal-link {
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
}

.add-subs-link {
    margin-top: 10px;
}

.create-account-link {
    margin-right: 10px;
}

.delete-review-button:hover, .write-review-button:hover, .login-link:hover, .login-button:hover, 
.create-account-link:hover, .landing-page-link:hover, .submit-account-button:hover, .edit-section-button:hover, .edit-personal-link:hover {
    color: white;
    background-color: black;
    cursor:pointer;
}

.edit-review-link:hover, .add-subs-link:hover, .create-fandom-button:hover, 
.create-installments-link:hover, .submit-installments-button:hover, 
.submit-fandom-button:hover, .submit-sections-button:hover, .submit-review-button:hover, .edit-installment-button:hover, .go-back:hover {
    color: white;
    background-color: black;
    cursor:pointer;
}

.disabled-link{
    cursor: default;
}
/*  
.episode {
    display: flex;
    justify-content: space-between;
} */
/* 
.left, .right {
    height: 0px
} */

.label {
    margin: auto;
    font-weight: 1000;
}