@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.installment-label{
    font-family: 'Audiowide', cursive;
    font-size: 20px
}
.fandom-label {
    font-size: 40px;
}