@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
.divider{
    width: 100%;
}
.label {
    width: 100%;
}

.profile-label{
    font-family: 'Audiowide', cursive;
    font-size: 50px
}

@media only screen and (min-width: 800px){
    .profile-label{
        font-family: 'Audiowide', cursive;
        font-size: 100px
    }
}