.review-full{
    border: 2px solid black;
    display: flex;
    align-items: center;
    background-color: #edfafc
}

.review-body {
    flex: 3
}
.review-full img {
    flex: 1;
    height: 100px;
}

