html{
  margin: none;
  box-sizing: border-box;
  text-align: center;
}

label{
  display: block;
}

input{
  margin-bottom: 20px;
}

.create button, .fandom button, .fandom-comp button{
  display: block;
  margin: auto;
}
